<%- include ../partials/header %>

<div class="jumbotron text-center">
  <h1>Welcome!</h1>
  <p>
    View one of the most popular street in Toronto
  </p>
  <p>
    Please regiested and post what you love on <b><i>Bloor Street</i></b> </p>
</div>
<div class="container container-table">
  <div class="row vertical-center-row">
    <a href="/main/new" class="btn btn-primary btn-lg text-center col-md-4 col-md-offset-4">ADD NEW POST</a>
  </div>
</div>
<div class="row text-center">
  <%if(success.length>0) { %>
  <div class="alert alert-success"><%= success %></div>
  <% } %>

  <% posts.forEach(function(p){ %>
  <div class=" col-md-3 col-sm-6">
    <div class="thumbnail">
      <img src="<%= p.image %> ">
      <div class="caption">
        <h4><%= p.name %> </h4>
      </div>
      <p>
        <a href="/main/<%=p._id%>" class="btn btn-primary">More Info</a>
      </p>
    </div>
  </div>
  <%}); %>
</div>

<%- include ../partials/footer %>