<%- include ../partials/header %>
<sction class="block"></sction>

<div class="jumbotron text-center">
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <p>
    View one of the most popular street in Toronto
  </p>
</div>
<p>
  <a href="/main/new" class="btn btn-primary btn-lg">ADD NEW POST</a>
</p>
<div class="row text-center">
  <%if(success.length>0) { %>
  <div class="alert alert-success"><%= success %></div>
  <% } %>

  <% posts.forEach(function(p){ %>
  <div class=" col-md-3 col-sm-6">
    <div class="thumbnail">
      <img src="<%= p.image %> ">
      <div class="caption">
        <h4><%= p.name %> </h4>
      </div>
      <p>
        <a href="/main/<%=p._id%>" class="btn btn-primary">More Info</a>
      </p>
    </div>
  </div>
  <%}); %>
</div>

<%- include ../partials/footer %>